* {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

p {
  color: var(--neutral-Pale-Blue);
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: var(--neutral-Pale-Blue); 
}